{%extends "base.html"%}
{%block title%}Cursos{%endblock%}
{% block navbar %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg sticky-top fondo_navbar" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:#ffffff;">Nombre del sistema sistema | {{current_user.nombre}}</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Pricing</a>
        </li>
      </ul> -->
  </div>
  <div class="d-flex">
    <!-- <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-light me-2" role="button"
      aria-pressed="true">Cerrar sesión</a> -->
    <button class="btn t" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <i class="bi bi-list" style="font-size: 30px; color: #ffffff;"></i>
    </button>
  </div>
  </div>
</nav>
{% endblock %}
{%block content%}
<!-- Offcanva -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Nombre del sistema</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <div class="d-flex">
        <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
        <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json" trigger="hover"
          colors="primary:#121331,secondary:#6aa7e8" style="width:100px;height:100px" class="rounded-circle">
        </lord-icon>
        <div class="ms-3">
          <h5>{{current_user.nombre}} {{current_user.apellido}}</h5>
          <p>{{nombre_cliente}}</p>
        </div>
      </div>
      <hr>
      <div class="">
        <div class="text-center">
          <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-dark me-2" role="button"
            aria-pressed="true">Cerrar sesión</a>
          <hr>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="bi bi-mortarboard"></i>
                <strong>
                  Cursos
                </strong>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <!-- Lista de botonos -->
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  <a href="{{url_for('cursos.listar_cursos')}}" type="button" class="btn btn-card"><i class="bi bi-award"></i> Cursos</a>
                  {%if current_user.rol == "AD"%}
                  <a href="{{url_for('cursos.index')}}" type="button" class="btn btn-card"><i class="bi bi-check-circle"></i> Registrar curso</a>

                  <a href="{{url_for('cursos.asignar_docente')}}" type="button" class="btn btn-card"><i class="bi bi-person-add"></i> Asignar Docentes</a>
                  {%endif%}
                </div>
              </div>

            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <i class="bi bi-person"></i> <strong> Gestión estudiantes</strong>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  {%if current_user.rol == "AD"%}
                  <a href="{{url_for('estudiantes.registro_estudiantes')}}" type="button" class="btn btn-card"><i class="bi bi-person-add"></i> Registrar estudiantes</a>
                  {%endif%}
                  <a href="{{url_for('estudiantes.asistencia_estudiantes')}}" type="button" class="btn btn-card"><i class="bi bi-card-checklist"></i> Asistencia y calificaciones</a>
                </div>
              </div>
            </div>
          </div>
          {%if current_user.rol == "AD"%}
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="bi bi-people"></i> <strong>Docentes</strong>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  <a href="{{url_for('docentes.index')}}" type="button" class="btn btn-card"><i class="bi bi-people"></i> Docentes</a>
                  <a href="{{url_for('docentes.registroDocentes')}}" type="button" class="btn btn-card"><i class="bi bi-plus-circle"></i> Registrar docentes</a>
                </div>
              </div>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- titulo -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-5" data-aos="fade-down" data-aos-duration="1000">Registrar curso</h1>
    </div>
  </div>
  <!-- Formulario con 10 inputs organizados horizontalmente y verticalmente -->
  <div class="row" data-aos="fade-up" data-aos-duration="1000">
    <div class="col-12">
      <form action="{{url_for('cursos.registrar_curso')}}" method="POST" class="m-5 bg-light p-5 rounded border shadow">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="nombre_curso" class="form-label">Nombre del curso</label>
                  <input type="text" class="form-control p-2" id="nombre_curso" name="nombre_curso"
                    placeholder="Nombre del curso" required>
                </div>
              </div>
              <div class="col-12 col md-6 col-lg-4">
                <div class="mb-3">
                  <label for="codigo_curso" class="form-label">Código del curso</label>
                  <input type="text" class="form-control p-2" id="codigo_curso" name="codigo_curso"
                    placeholder="Código del curso" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="fecha_inicio" class="form-label">Fecha inicio del curso</label>
                  <input type="date" class="form-control p-2" id="fecha_inicio" name="fecha_inicio" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="fecha_final" class="form-label">Fecha final del curso</label>
                  <input type="date" class="form-control p-2" id="fecha_final" name="fecha_final" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">  
                <div class="mb-3">
                  <label for="horario_curso" class="form-label">Horario del curso</label>
                  <input type="text" class="form-control p-2" name="horario_curso" id="horario_curso" placeholder="Horario del curso">
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="fecha_final" class="form-label">Modalidad del curso</label>
                  <select name="modalidad_curso" id="modalidad_curso" class="form-control p-2">
                    <option value="Presencial">Presencial</option>
                    <option value="Virtual">Virtual</option>
                  </select>
                </div>
              </div>
              
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="duracion_curso" class="form-label">Duración del curso</label>
                  <input type="number" class="form-control p-2" id="duracion_curso" name="duracion_curso"
                    placeholder="Duración del curso" min="1" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="intensidad_horaria" class="form-label">Intensidad horaria</label>
                  <input type="text" class="form-control p-2" id="intensidad_horaria" name="intensidad_horaria"
                    placeholder="Intensidad horaria(horas/días)" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="cantidad_sesiones" class="form-label">Cantidad de sesiones</label>
                  <input type="number" class="form-control p-2" id="cantidad_sesiones" name="cantidad_sesiones"
                    placeholder="Cantidad de sesiones" min="1" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="cupo_curso" class="form-label">Cupo del curso</label>
                  <input type="number" class="form-control p-2" id="cupo_curso" name="cupo_curso"
                    placeholder="Cupo del curso" min="1" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="enlace_clase" class="form-label">Enlace de la clase</label>
                  <input type="text" class="form-control p-2" id="enlace_clase" name="enlace_clase"
                    placeholder="Enlace de la clase" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="enlace_grabaciones" class="form-label">Enlace de las grabaciones</label>
                  <input type="text" class="form-control p-2" id="enlace_grabaciones" name="enlace_grabaciones"
                    placeholder="Enlace de las grabaciones" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <label for="enlace_form_asistencia" class="form-label">Enlace formulario de asistencia</label>
                  <input type="text" class="form-control p-2" id="enlace_form_asistencia" name="enlace_form_asistencia"
                    placeholder="Enlace del formulario de asistencias" required>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <!-- <label for="nombre" class="form-label">Nombre</label> -->
                  <input type="hidden" class="form-control p-2" id="estado_curso" name="estado_curso" value="1">
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                  <!-- <label for="nombre" class="form-label">Nombre</label> -->
                  <input type="hidden" class="form-control p-2" id="id_cliente" name="id_cliente"
                    value="{{current_user.id_cliente}}">
                </div>
              </div>
              <!-- Boton de enviar -->
              <div class="col-12 mb-3 text-center">
                <button type="submit" class="btn btn-card p-2 w-25">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{%endblock%}
{%block footer%}

<!-- footer -->
<footer class="text-center text-white fondo_navbar" data-aos="fade-up" data-aos-duration="1000">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
        <i class="bi bi-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-linkedin"></i></a>
      <!-- Github -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i
          class="bi bi-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
{%endblock%}