{%extends "base.html"%}
{%block title%}Inicio{%endblock%}
{% block navbar %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg sticky-top fondo_navbar" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:#ffffff;">Nombre del sistema sistema </a>
    </div>
  </div>
</nav>
{% endblock %}
{%block content%}
<!-- content -->
<div class="row justify-content-md-center align-items-center">
      <!-- centrar la columna en el centro de la pantalla -->
      <div class="col col-md-5 g-4 mt-5">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Registrar cliente</h4>
            <form action="{{url_for('clientes.registrar_cliente')}}" method="post" class="m-2 p-2">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <label for="codigo_cliente">Código cliente</label>
              <input type="text" id="codigo_cliente" name="codigo_cliente" placeholder="Código del cliente" required class="form-control">
              <label for="nombre_cliente">Nombre cliente</label>
              <input type="text" id="nombre_cliente" name="nombre_cliente" placeholder="Nombre del cliente" required class="form-control">
              <div class="text-center">
                <input type="submit" value="Enviar" class="btn btn-card w-50 m-2">
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
  {%endblock%}
{%block footer%}

<!-- footer -->
<footer class="footer sticky-bottom mt-auto py-3 fondo_navbar">
  <div class="container">
    <span class="text-muted">prueba</span>
  </div>
</footer>
{%endblock%}