{%extends "base.html"%}
{%block title%}Docentes{%endblock%}
{% block navbar %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg sticky-top fondo_navbar" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:#ffffff;">Nombre del sistema sistema</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Pricing</a>
        </li>
      </ul> -->
  </div>
  <div class="d-flex">
    <!-- <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-light me-2" role="button"
      aria-pressed="true">Cerrar sesión</a> -->
    <button class="btn t" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <i class="bi bi-list" style="font-size: 30px; color: #ffffff;"></i>
    </button>
  </div>
  </div>
</nav>
{% endblock %}
{%block content%}
<!-- Offcanva -->
{#
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Nombre del sistema</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <div class="d-flex">
        <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
        <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json" trigger="hover"
          colors="primary:#121331,secondary:#6aa7e8" style="width:100px;height:100px" class="rounded-circle">
        </lord-icon>
        <div class="ms-3">
          <h5>{{current_user.nombre}} {{current_user.apellido}}</h5>
          <p>{{nombre_cliente}}</p>
        </div>
      </div>
      <hr>
      <div class="">
        <div class="text-center">
          <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-dark me-2" role="button"
            aria-pressed="true">Cerrar sesión</a>
          <hr>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="bi bi-mortarboard"></i>
                <strong>
                  Cursos
                </strong>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <!-- Lista de botonos -->
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  <a href="{{url_for('cursos.listar_cursos')}}" type="button" class="btn btn-card"><i class="bi bi-award"></i> Cursos</a>
                  {%if current_user.rol == "AD"%}
                  <a href="{{url_for('cursos.index')}}" type="button" class="btn btn-card"><i class="bi bi-check-circle"></i> Registrar curso</a>

                  <a href="{{url_for('cursos.asignar_docente')}}" type="button" class="btn btn-card"><i class="bi bi-person-add"></i> Asignar Docentes</a>
                  {%endif%}
                </div>
              </div>

            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <i class="bi bi-person"></i> <strong> Gestión estudiantes</strong>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  {%if current_user.rol == "AD"%}
                  <a href="{{url_for('estudiantes.registro_estudiantes')}}" type="button" class="btn btn-card"><i class="bi bi-person-add"></i> Registrar estudiantes</a>
                  {%endif%}
                  <a href="{{url_for('estudiantes.asistencia_estudiantes')}}" type="button" class="btn btn-card"><i class="bi bi-card-checklist"></i> Asistencia y calificaciones</a>
                </div>
              </div>
            </div>
          </div>
          {%if current_user.rol == "AD"%}
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="bi bi-people"></i> <strong>Docentes</strong>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  <a href="{{url_for('docentes.index')}}" type="button" class="btn btn-card"><i class="bi bi-people"></i> Docentes</a>
                  <a href="{{url_for('docentes.registroDocentes')}}" type="button" class="btn btn-card"><i class="bi bi-plus-circle"></i> Registrar docentes</a>
                </div>
              </div>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>#}



<!-- titulo -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="text-center text-white">
        <h1 class="display-4">Docentes</h1>
      </div>
    </div>
  </div>


  <!-- Tabla de docentes -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" data-aos="zoom-in" data-aos-duration="1000">
        <table class="table bg-light table-hover" id="tabla_docentes">
          <thead>
            <tr>
              <th scope="col">Número de documento</th>
              <th scope="col">Nombre de Usuario</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Teléfono fijo</th>
              <th scope="col">Estado</th>
              <th scope="col">Profesión</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for docente in docentes%}
            <tr>
              <td>{{docente[8]}} {{docente[9]}}</td>
              <td>{{docente[1]}}</td>
              <td>{{docente[2]}}</td>
              <td>{{docente[3]}}</td>
              <td>{{docente[4]}}</td>
              <td>{{docente[5]}}</td>
              <td>{{docente[6]}}</td>
              <td>
                {%if docente[7] == 1%}
                  <span class="alert alert-success">Activo</span>
                {%else%}
                  <span class="alert alert-danger">Inactivo</span>
                {%endif%}
              </td>
              <td>{{docente[10]}}</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_docente" data-bs-whateve="{{docente[0]}}"><i class="bi bi-pencil-square"></i> Editar</button>
                  <a href="{{url_for('docentes.eliminar', id_docente=docente[0])}}" class="btn btn-outline-danger" onclick="return confirm('¿Seguro/a quieres eliminar a este docente?')"><i class="bi bi-trash"></i> Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_docente" tabindex="-1" aria-labelledby="modal_docente" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar docente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/docentes/editar" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="mb-3">
            <label for="numero_documento" class="form-label">Número de documento</label>
            <input type="text" class="form-control" id="numero_documento" name="numero_documento" placeholder="Número de documento">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo">
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
          </div>
          <div class="mb-3">
            <label for="telefono_fijo" class="form-label ">Teléfono fijo</label>
            <input type="text" class="form-control" id="telefono_fijo" name="telefono_fijo" placeholder="Teléfono fijo">
          </div>
          <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select class="form-select" aria-label="Default select example" id="estado" name="estado">
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="profesion" class="form-label">Profesión</label>
            <input type="text" class="form-control" id="profesion" name="profesion" placeholder="Profesión">
          </div>
          <div class="mb-3">
            <!-- <label for="id_docente" class="form-label">ID</label> -->
            <input type="hidden" class="form-control" id="id_docente" name="id_docente" placeholder="ID">
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" onclick="return confirm('¿Seguro/a que desea guardar los cambios?')">Guardar cambios</button>
          </div>
        </form>
    </div>
  </div>
</div>

<!-- Script  -->
<!--petición ajax para rellenar los otros campos del modal-->
<script>
  $('#modal_docente').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('bs-whateve') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    // modal.find('.modal-title').text('Editar docente ' + recipient)
    modal.find('.modal-body input#id_docente').val(recipient)
    $.ajax({
      url: '/docentes/datos/modal',
      type: 'POST',
      headers: {
          'X-CSRFToken': '{{ csrf_token() }}'
      },
      data: {
        id_docente: recipient
      },
      success: function (data) {
        modal.find('.modal-body input#numero_documento').val(data.num_doc)
        modal.find('.modal-body input#nombre').val(data.nombres)
        modal.find('.modal-body input#apellido').val(data.apellidos)
        modal.find('.modal-body input#correo').val(data.correo)
        modal.find('.modal-body input#telefono').val(data.numero_cel)
        modal.find('.modal-body input#telefono_fijo').val(data.numero_tel_fijo)
        modal.find('.modal-body input#profesion').val(data.profesion)
        modal.find('.modal-body input#id_docente').val(data.id_usuario)
      }
    })
  })
</script>





{%endblock%}
