{%extends "base.html"%}
{%block title%}Certificados{%endblock%}
{% block navbar %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg sticky-top fondo_navbar" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:#ffffff;">Nombre del sistema sistema | {{current_user.nombre}}</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Pricing</a>
        </li>
      </ul> -->
  </div>
  <div class="d-flex">
    <!-- <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-light me-2" role="button"
      aria-pressed="true">Cerrar sesión</a> -->
    <!-- <button class="btn t" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <i class="bi bi-list" style="font-size: 30px; color: #ffffff;"></i>
    </button> -->
  </div>
  </div>
</nav>
{% endblock %}
{%block content%}





{%endblock%}