{%extends "base.html"%}
{%block title%}404 | Page not found{%endblock%}
{%block content%}
<!-- centrar en la pantalla el texto en la pantall tanto vertical como horizontal-->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-white">
            <img src="https://cdn.pixabay.com/photo/2021/07/21/12/49/error-6482984_960_720.png" alt="Mano con el número 404">
            <h1 class="text-center">404 | Página no disponible</h1>
            <p class="text-center">La página que buscas no existe o ha sido eliminada</p>
            <a href="/">Inicio</a>

        </div>
    </div>



{%endblock%}
