{%extends "base.html"%}
{%block title%}Inicio{%endblock%}
{% block navbar %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg sticky-top fondo_navbar" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:#ffffff;">Atenea</a>

    <div class="d-flex float-left">
      <!-- <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-light me-2" role="button"
          aria-pressed="true">Cerrar sesión</a> -->
      <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
        <lord-icon src="https://cdn.lordicon.com/jtqpkhoh.json" trigger="morph"
          colors="primary:#ffffff,secondary:#08a88a" stroke="25" style="width:30px;height:30px">
        </lord-icon>
      </button>
    </div>
  </div>
  </div>
</nav>
{% endblock %}
{%block content%}



<section id="bienvenida" class="bienvenida">
  <!-- <div id="particles-js"></div> -->
  <!-- <div class="parallax" data-parallax-image="{{url_for('static', filename='imgs/hexagon.svg')}}"></div> -->
  <!-- Header -->
  <div class="container">

    <div class="row">
      <div class="col-12 mt-3 mb-1 text-white">
        <h1 class="">Resumen</h1>
        <h6>Estado actual del sistema</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body student-card ">
              <div class="media d-flex row">
                <div class="align-self-center col">
                  <i class="bi bi-people-fill float-start" style="font-size: 40pt;"></i>
                </div>
                <div class="media-body text-right col">
                  <h3>{{conteo_estudiantes}}</h3>
                  <span>Estudiantes</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body curso-card">
              <div class="media d-flex row">
                <div class="align-self-center col">
                  <i class="bi bi-mortarboard-fill float-start" style="font-size: 40pt;"></i>
                </div>
                <div class="media-body text-right col">
                  <h3>{{conteo_curso}}</h3>
                  <span>Cursos activos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body curso-fin-card">
              <div class="media d-flex row">
                <div class="align-self-center col">
                  <i class="bi bi-archive-fill float-start" style="font-size: 40pt;"></i>
                </div>
                <div class="media-body text-right col">
                  <h3>{{conteo_cursos_finalizados}}</h3>
                  <span>Cursos cerrados</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body docente-card">
              <div class="media d-flex row">
                <div class="align-self-center col">
                  <i class="bi bi bi-person-workspace float-start" style="font-size: 40pt;"></i>
                  <img src="https://iconos8.es/icon/oYto3gDewkU6/llamada-de-conferencia" alt="">
                </div>
                <div class="media-body text-right col">
                  <h3>{{conteo_docentes}}</h3>
                  <span>Docentes activos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<section id="options">

  <div class="parallax" data-parallax-image="{{url_for('static', filename='imgs/hexagon.svg')}}"></div>
  <div class="container">
    <div class="">
      <h1 class="text-white mt-2">Opciones</h1>
      <hr>
    </div>
    <!-- Cards para cada apartado -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mt-2">
      <!-- Card de cursos  -->
      {%if current_user.rol == "AD" or current_user.rol=="DOC" or current_user.rol == "ADV"%}
      <div class="col" data-aos="fade-left" data-aos-duration="1000">
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849821_960_720.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/2436/2436874.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title"><i class="bi bi-mortarboard"></i> Cursos </h4>
            <p class="card-text">
              Gestiona los cursos que impartes, crea nuevos cursos, edita los cursos que ya tienes y
              finaliza cursos.
            </p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="{{url_for('cursos.listar_cursos')}}" class="btn btn-card"><i class="bi bi-award"></i> Cursos
              activos </a>
            <a href="{{url_for('cursos.cursos_no_activos')}}" class="btn btn-card"><i class="bi bi-archive"></i> Cursos
              cerrados </a>

            <!-- <a href="" class="btn btn-card"><i class="bi bi-x-circle"></i> Cursos activos</a> -->
            {%if current_user.rol== "AD"%}
            <a href="{{url_for('cursos.index')}}" class="btn btn-card"><i class="bi bi-calendar-check"></i> Programación
              cursos</a>
            <a href="{{url_for('cursos.registrar_curso_master')}}" class="btn btn-card"><i
                class="bi bi-plus-circle"></i> Registrar
              cursos</a>
            {#<a href="{{url_for('cursos.asignar_docente')}}" class="btn btn-card"><i class="bi bi-person-add"></i>
              Asignar docente</a>#}
            {%endif%}

          </div>
        </div>
      </div>
      {%endif%}
      <!-- Card de Estudiantes -->
      {%if current_user.rol== "AD" or current_user.rol== "DOC" or current_user.rol== "ADM" or current_user.rol ==
      "ADV"%}
      <div class="col" data-aos="fade-up" data-aos-duration="1000">
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_960_720.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3068/3068421.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title"><i class="bi bi-person"></i> Gestión de estudiantes</h4>
            <p class="card-text">
              Gestiona los estudiantes que tienes en tu curso, asigna notas y asistencias y registrar nuevos
              estudiantes.
            </p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            {%if current_user.rol == "AD" or current_user.rol== "ADM"%}
            <a href="{{url_for('estudiantes.registro_estudiantes')}}" class="btn btn-card"><i
                class="bi bi-person-add"></i> Registrar estudiantes</a>
            <!-- <a href="{{url_for('estudiantes.estudiantes_curso')}}" class="btn btn-card"><i class="bi bi-person-vcard"></i> Asignar estudiantes al curso</a> -->
            {%endif%}
            {%if current_user.rol == "AD" or current_user.rol== "DOC" or current_user.rol == "ADV"%}
            <a href="{{url_for('estudiantes.asistencia_estudiantes')}}" class="btn btn-card"><i
                class="bi bi-card-checklist"></i> Asistencia y Calificaciones</a>
            {%endif%}

          </div>
        </div>
      </div>
      {%endif%}
      <!-- Card de Docentes -->
      {%if current_user.rol=="AD"%}
      <div class="col" data-aos="fade-right" data-aos-duration="1000">
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(https://img.freepik.com/foto-gratis/todos-sonrien-escuchan-grupo-personas-conferencia-negocios-aula-moderna-dia_146671-16288.jpg?w=740&t=st=1672689808~exp=1672690408~hmac=7fe1d15ff7b2aa8cc435b95fb499ea2151728c623f7fd1f626be48eb52d2c85e);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3650/3650049.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title"><i class="bi bi-people"></i> Docentes</h4>
            <p class="card-text">
              Gestiona los docentes a tu manera, puedes ver los docentes activos, no activos y registrar nuevos
              docentes.
            </p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="{{url_for('docentes.index')}}" class="btn btn-card"><i class="bi bi-check-circle"></i> Docentes</a>
            <!-- <a href="" class="btn btn-card"><i class="bi bi-x-circle"></i> Docentes no activos</a> -->
            <a href="{{url_for('docentes.registroDocentes')}}" class="btn btn-card"><i class="bi bi-plus-circle"></i>
              Registrar docentes</a>
          </div>
        </div>
      </div>
      {%endif%}

      <!-- Card para opción adicional -->
      <!-- <div class="col" data-aos="fade-left" data-aos-duration="1000">
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img"
            style="background-image: url(https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849821_960_720.jpg);">
          </div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3068/3068421.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Cursos</h4>
            <p class="card-text">Card has minimum height set but will expand if more space is needed for card body
              content.
              You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks"
                target="_blank">card-decks</a> to align multiple cards nicely in a row.</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="{{url_for('estudiantes.registro_estudiantes')}}" class="btn btn-card"><i class="bi bi-check-circle"></i> Estudiantes activos</a>
            <a href="" class="btn btn-card"><i class="bi bi-x-circle"></i> Estudiantes no activos</a>
            <a href="" class="btn btn-card"><i class="bi bi-plus-circle"></i> Regitrar estudiantes</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
{%endblock%}