/* fondo de todas las paginas */
.fondo-pagina{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1162%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1163)'%3e%3c/rect%3e%3cpath d='M629.7730994908136 371.18122064021327L678.7641980567139 505.78315770430015 813.3661351208008 456.79205913839985 764.3750365549005 322.19012207431297z' fill='rgba(247%2c 234%2c 50%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M995.000865114691 164.56845749915942L993.3773350369605 257.580433358723 1088.0128409742547 166.19198757688991z' fill='rgba(247%2c 234%2c 50%2c 0.9)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M101.27 26.67 a132.29 132.29 0 1 0 264.58 0 a132.29 132.29 0 1 0 -264.58 0z' fill='rgba(247%2c 234%2c 50%2c 0.9)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-50.83 522.72 a109.55 109.55 0 1 0 219.1 0 a109.55 109.55 0 1 0 -219.1 0z' fill='rgba(247%2c 234%2c 50%2c 0.9)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M788.2505818438972 39.79708768958733L706.7850863359496-68.31127626497528 680.1422178893346 121.26258319753488z' fill='rgba(247%2c 234%2c 50%2c 0.9)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M373.6028041510121 75.19682416824132L367.14677508911785 198.3851971581915 490.33514807906795 204.84122622008573 496.79117714096225 81.65285323013558z' fill='rgba(247%2c 234%2c 50%2c 0.9)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1162'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1163'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 50%2c 101%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* background-size: cover; */
}
.fondo_form_login{
  backdrop-filter: blur(5px);
  background: rgba(40, 40, 40, 0.5);
  color: #ffffff;
}
.fondo_navbar{
  backdrop-filter: blur(5px);
  background: rgba(40, 40, 40, 0.5);
}

.boton{
  background-color: #f7ea32;
  color: #003269;
  border: 1px solid #003269;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  transition: ease-in 0.5s;
}
.boton:hover{
  background-color: #003269;
  color: #f7ea32;
  border: 1px solid #f7ea32;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
}


