{%extends "base.html"%}
{%block title%}Calificaciones{%endblock%}
{% block navbar %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg sticky-top fondo_navbar" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:#ffffff;">Nombre del sistema sistema | {{current_user.nombre}}</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Pricing</a>
        </li>
      </ul> -->
  </div>
  <div class="d-flex">
    <!-- <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-light me-2" role="button"
      aria-pressed="true">Cerrar sesión</a> -->
    <button class="btn t" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <i class="bi bi-list" style="font-size: 30px; color: #ffffff;"></i>
    </button>
  </div>
  </div>
</nav>
{% endblock %}
{%block content%}
<!-- Offcanva  -->
{#
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Nombre del sistema</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <div class="d-flex">
        <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
        <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json" trigger="hover"
          colors="primary:#121331,secondary:#6aa7e8" style="width:100px;height:100px" class="rounded-circle">
        </lord-icon>
        <div class="ms-3">
          <h5>{{current_user.nombre}} {{current_user.apellido}}</h5>
          <p>{{nombre_cliente}}</p>
        </div>
      </div>
      <hr>
      <div class="">
        <div class="text-center">
          <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-dark me-2" role="button"
            aria-pressed="true">Cerrar sesión</a>
          <hr>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="bi bi-mortarboard"></i>
                <strong>
                  Cursos
                </strong>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <!-- Lista de botonos -->
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  <a href="{{url_for('cursos.listar_cursos')}}" type="button" class="btn btn-card"><i class="bi bi-award"></i> Cursos</a>
                  {%if current_user.rol == "AD"%}
                  <a href="{{url_for('cursos.index')}}" type="button" class="btn btn-card"><i class="bi bi-check-circle"></i> Registrar curso</a>

                  <a href="{{url_for('cursos.asignar_docente')}}" type="button" class="btn btn-card"><i class="bi bi-person-add"></i> Asignar Docentes</a>
                  {%endif%}
                </div>
              </div>

            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <i class="bi bi-person"></i> <strong> Gestión estudiantes</strong>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  {%if current_user.rol == "AD"%}
                  <a href="{{url_for('estudiantes.registro_estudiantes')}}" type="button" class="btn btn-card"><i class="bi bi-person-add"></i> Registrar estudiantes</a>
                  {%endif%}
                  <a href="{{url_for('estudiantes.asistencia_estudiantes')}}" type="button" class="btn btn-card"><i class="bi bi-card-checklist"></i> Asistencia y calificaciones</a>
                </div>
              </div>
            </div>
          </div>
          {%if current_user.rol == "AD"%}
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="bi bi-people"></i> <strong>Docentes</strong>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="btn-group-vertical w-100 g-3" role="group" aria-label="Vertical button group">
                  <a href="{{url_for('docentes.index')}}" type="button" class="btn btn-card"><i class="bi bi-people"></i> Docentes</a>
                  <a href="{{url_for('docentes.registroDocentes')}}" type="button" class="btn btn-card"><i class="bi bi-plus-circle"></i> Registrar docentes</a>
                </div>
              </div>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>#}
<!-- Titulo -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-white">Calificaciones</h1>
    </div>
  </div>
</div>

<!-- Lista de curso -->


<form action="{{url_for('estudiantes.calificaciones_estudiantes')}}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="hidden" name="id_curso" value="{{id_curso}}">
  <div class="table-responsive">
    <!-- tabla con numero de documento, apellido, nombre y calificaciones separadas por 3 cortes y dentro de cada corte tiene 3 subcolumnas-->
    <table class="table text-center table-bordered table-light" id="tabla_calificaciones_estudiante">
      <thead>
        <tr>
          <th colspan="3">Datos estudiantes</th>
          <th colspan="3">Corte 1</th>
          <th colspan="3">Corte 2</th>
          <th colspan="3">Corte 3</th>
          <th colspan="2"></th>
        </tr>
        <tr>
          <th>Número de documeto</th>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Calificación 1</th>
          <th>Calificación 2</th>
          <th>Calificación 3</th>
          <th>Calificación 4</th>
          <th>Calificación 5</th>
          <th>Calificación 6</th>
          <th>Calificación 7</th>
          <th>Calificación 8</th>
          <th>Calificación 9</th>
          <th>Nota final</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        {% for calif in calificaciones %}
        <tr>
          <td><input type="hidden" name="num_doc" id="" value="{{calif[2]}}">{{calif[2]}}</td>
          <td>{{calif[1]}}</td> 
          <td>{{calif[0]}}</td>
          <td><input type="number" class="form-control" name="calif_1" value="{{calif[3]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_2" value="{{calif[4]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_3" value="{{calif[5]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_4" value="{{calif[6]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_5" value="{{calif[7]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_6" value="{{calif[8]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_7" value="{{calif[9]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_8" value="{{calif[10]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_9" value="{{calif[11]}}" min="0" max="5" step="0.01"></td>
          <td><input type="number" class="form-control" name="calif_10" value="{{calif[12]}}" min="0" max="5" step="0.01"></td>
          <td><input type="text" class="form-control" name="observaciones" value="{{calif[13]}}"></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
   
    <button type="submit" class="btn btn-card"
      onclick="return confirm('¿Seguro/a quieres actualizar las calificaciones?')">Enviar</button>
    <button type="button" class="btn btn-card" data-bs-toggle="modal" data-bs-target="#subir_excel">
      Subir archivo excel
    </button>
</form>
<form action="{{url_for('estudiantes.descargar_calificaciones')}}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="hidden" name="id_curso" value="{{id_curso}}">
  <button type="submit" class="btn btn-card">Descargar calificaciones</button>
</form>

</div>


<!-- Modal -->
<div class="modal fade" id="subir_excel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Subir calificaciones con excel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h4><span class="badge bg-success">Por favor sube el excel de la siguiente forma:</span></h4>
        <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th>Número de documento</th>
            <th>Calificación 1</th>
            <th>Calificación 2</th>
            <th>Calificación 3</th>
            <th>Calificación 4</th>
            <th>Calificación 5</th>
            <th>Calificación 6</th>
            <th>Calificación 7</th>
            <th>Calificación 8</th>
            <th>Calificación 9</th>
            <th>Calificación final</th>
            <th>Observaciones</th>
          </tr>
          <tr>
            <td>1234567890</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>Ninguna</td>
          </tr>
        </table>
      </div>
        <form action="{{url_for('estudiantes.calificaciones_estudiantes_excel')}}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="mb-3">
            <input type="hidden" name="id_curso" value="{{id_curso}}">
            <label for="excel" class="form-label">Subir archivo</label>
            <input class="form-control" type="file" id="excel" name="excel">
          </div>
          <button type="submit" class="btn btn-card">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}
