{%extends "base.html"%}
{%block title%}Cursos{%endblock%}
{% block navbar %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg sticky-top fondo_navbar" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:#ffffff;">Atenea</a>

    <div class="d-flex float-left">
      <!-- <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-light me-2" role="button"
          aria-pressed="true">Cerrar sesión</a> -->
      <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
        <lord-icon src="https://cdn.lordicon.com/jtqpkhoh.json" trigger="morph"
          colors="primary:#ffffff,secondary:#08a88a" stroke="25" style="width:30px;height:30px">
        </lord-icon>
      </button>
    </div>
  </div>
  </div>
</nav>
{% endblock %}
{%block content%}

<!-- Titulo página  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-white" data-aos="zoom-in" data-aos-duration="1000">Estudiantes</h1>
      <h2 class="text-center text-white" data-aos="zoom-in" data-aos-duration="1000">{{curso[1]}} | {{curso[2]}}</h2>
    </div>
  </div>
</div>


<!-- Tabla para verificar la información ver la información de los estudiantes por curso -->
<div class="container">
  <div class="row">
    <div class="col-12" data-aos="zoom-in" data-aos-duration="1000">
      

        <table class="table table-hover table-light" id="tabla_estudiante">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Tipo Doc</th>
              <th>Número de documento</th>
              <th>Correo</th>
              <th>Número de teléfono</th>
              <th>Número de teléfono fijo</th>
              <th>Ciudad</th>
              <th>Dirección</th>
              <th>Sexo</th>
              <th>Fecha de nacimiento</th>
              <th>Educación</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {%for estudiante in estudiantes%}
            <tr>
              <td>{{estudiante[1]}}</td>
              <td>{{estudiante[2]}}</td>
              <td>{{estudiante[3]}}</td>
              <td>{{estudiante[4]}}</td>
              <td>{{estudiante[5]}}</td>
              <td>{{estudiante[6]}}</td>
              <td>{{estudiante[7]}}</td>
              <td>{{estudiante[8]}}</td>
              <td>{{estudiante[14]}}</td>
              <td>{{estudiante[11]}}</td>
              <td>{{estudiante[12]}}</td>
              <td>{{estudiante[13]}}</td>
              
              <td>
                {% if current_user.rol == 'AD' %}
                <form action="{{url_for('estudiantes.eliminar_estudiante')}}" method="post">
                  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                  <input type="hidden" name="id_estudiante" value="{{estudiante[0]}}">
                  <input type="hidden" name="id_curso" value="{{curso[0]}}">
                  <button type="submit" class="btn btn-danger" name="eliminar_estudiante">Eliminar</button>
                </form>
                {% else %}
                <div class="alert alert-danger">
                  No disponible
                </div>
                {% endif %}
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    
  </div>
</div>






{%endblock%}