{%extends "base.html"%}
{%block title%}Cursos{%endblock%}
{% block navbar %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg sticky-top fondo_navbar" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:#ffffff;">Nombre del sistema sistema | {{current_user.nombre}}</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff;">Pricing</a>
        </li>
      </ul> -->
  </div>
  <div class="d-flex">
    <!-- <a href="{{url_for('login_page.logout')}}" class="btn btn-outline-light me-2" role="button"
      aria-pressed="true">Cerrar sesión</a> -->
    <button class="btn t" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <i class="bi bi-list" style="font-size: 30px; color: #ffffff;"></i>
    </button>
  </div>
  </div>
</nav>
{% endblock %}
{%block content%}

<!-- Titulo página  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-white" data-aos="zoom-in" data-aos-duration="1000">Estudiantes</h1>
      <h2 class="text-center text-white" data-aos="zoom-in" data-aos-duration="1000">{{curso[1]}} | {{curso[2]}}</h2>
    </div>
  </div>
</div>


<!-- Tabla para verificar la información ver la información de los estudiantes por curso -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12" data-aos="zoom-in" data-aos-duration="1000">
      <div class="table-responsive">

        <table class="table table-hover table-light" id="tabla_estudiante">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Tipo Doc</th>
              <th>Número de documento</th>
              <th>Correo</th>
              <th>Número de teléfono</th>
              <th>Número de teléfono fijo</th>
              <th>Ciudad y dirección</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {%for estudiante in estudiantes%}
            <tr>
              <td>{{estudiante[1]}}</td>
              <td>{{estudiante[2]}}</td>
              <td>{{estudiante[3]}}</td>
              <td>{{estudiante[4]}}</td>
              <td>{{estudiante[5]}}</td>
              <td>{{estudiante[6]}}</td>
              <td>{{estudiante[7]}}</td>
              <td>{{estudiante[8]}}</td>
              <td>
                <form action="{{url_for('estudiantes.eliminar_estudiante')}}" method="post">
                  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                  <input type="hidden" name="id_estudiante" value="{{estudiante[0]}}">
                  <input type="hidden" name="id_curso" value="{{curso[0]}}">
                  <button type="submit" class="btn btn-danger" name="eliminar_estudiante">Eliminar</button>
                </form>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






{%endblock%}